footer {
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px;
    background: var(--secondary-bg-color);
    color: var(--fg-color);
}

footer .fa {
    padding: 2px;
    text-align: center;
    text-decoration: none;
    border: none;
    background: var(--secondary-bg-color);
    color: var(--fg-color);
}
