:root {
  --bg-color: #1F1F1F;
  --secondary-bg-color: #1A1A1A;
  --fg-color: #EAEAEA;
  --secondary-fg-color: #C4C4C4;
  --highlight-color: #368DD9;
  --link-color: #459AE6;
  --hover-color: #3B3B3B;
  --button-color: #2B2B2B;
  --blue: #0000FF;
  --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 20px; /* base font size for em */
    font-family: 'Fira Sans', sans-serif;
    background: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--fg-color);
}

ul {
    margin-top: 2%;
}

a, a:hover {
    color: var(--fg-color);
}

.content {
    margin: auto;
    max-width: 800px;
}

.content ul li{
    list-style-type: square;
}

.content ul a {
    text-decoration: none;
}

.content ul a:hover {
    color: var(--link-color);
}

.content h2 {
    font-size: 1.5em;
    background: var(--button-color);
    text-align: center;
    color: var(--fg-color);
    border-bottom: 2px solid var(--highlight-color);
}

.content p, .content ul, .content ol {
	font-size: 1.2em;
    color: var(--fg-color);
}

.subtitle {
    display: inline;
    border-bottom: 2px solid var(--white);
}
