.navbar {
	background-color: var(--secondary-bg-color);
	text-align: center;
    padding: 12px;
    max-width: 100%;
    border-bottom: 3px solid var(--highlight-color);
}

.navbar li {
    display: inline;
	list-style: none;
}

.navbar a {
	color: var(--fg-color);
	text-decoration: none;
	font-size: 1.2em;
	padding-left: 6px;
	padding-right: 6px;
}

.navbar a:hover {
    background-color: var(--hover-color);
}

.navbar .fa {
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    border: none;
    background: var(--secondary-bg-color);
    color: var(--white);
}

.navbar .fa:hover {
    color: var(--highlight-color);
    border: none;
    background-color: var(--secondary-bg-color);
}

.navbar .icon {
    display: none;
}

.current a, .current a:hover {
    background-color: var(--highlight-color);
}
